body {
  margin: 0;
  background-color: royalblue;
}

.comp {
  margin: 20px;
  padding: 20px;
  background-color: aqua;
  border: 5px solid white;
  border-radius: 15px;
  filter: drop-shadow(0 0 1rem black);
}

.marg {
  margin: 20px;
}

li {
  font-size: large;
}
